@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Baloo 2", cursive; */
  font-family: 'Jost', sans-serif;
}

#root {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  font-family: "Baloo 2", cursive;
  font-size: 62.5%;
  --heading_color :#596de7;
}

.my_nav {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}

.my_nav a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.mynav_logo {
  display: flex;
  justify-content: flex-start;
}

.nav_brand {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: white;
}

.nav_brand a {
  text-decoration: none;
  font-size: 2rem;
}
.mynav_links {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.routine_container {
  min-height: 80vh;
  width: 63vw;
  background-color: #fff;
  margin: auto;
  border-radius: 12px;
  margin-top: 2vh;
  position: relative;
  height: auto;
}

.routine_container p {
  font-size: 0.9rem;
}
.routine_header {
  overflow: scroll;
  background: rgb(252, 252, 252);
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 68px;
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0;
  position: relative;
}

.next_icon {
  position: absolute;
  right: 10px;
  display: none !important;
}
.routine_header a {
  color: var(--heading_color)!important;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 30px;
  cursor: pointer;
}

.box__shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active_class {
  border-bottom: 2px solid rgb(252, 252, 252);
}

.class_container {
  width: 80%;
  height: 80%;
  /* justify-content: center; */
  /* display: flex; */
  margin: auto;
  margin-top: 5%;
}

.r_class {
  min-height: 20%;
  width: 80%;
  margin: auto;
  border-radius: 12px;
  padding: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #666;
}

.time {
  display: flex;
  align-items: center;
  line-height: 1;
}

.next_icon {
  position: absolute;
  right: 10px;
  display: none !important;
}





/* Css For mid */

.mid_container{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
}

.mid_container table{
  margin-top: 5vh;
  padding: 4rem 0;
  background: white;
  border-radius: .5rem;
}


.mid_container table tr th{
  font-size: 2rem;
  padding: 2rem;
  color: var(--heading_color);

}

.mid_container table tr td{
  font-size: 1rem;
  padding: 2rem;
  /* color: var(--heading_color); */
  color: black;

}


@media only screen and (max-width: 600px) {
  .routine_container {
    width: 90vw;
  }

  .r_class {
    min-height: 20%;
    width: auto;
  }

  .mynav_links a {
    font-size: 0.7rem;
  }

  .next_icon {
    display: block!important;
    font-size: 2rem;
    animation: next_animation 1s forwards ease-out;

  }


  .mid_container table tr th{
    font-size: .8rem;
    padding: 2rem;
  
  }
  
  .mid_container table tr td{
    font-size: .7rem;
    padding: 2rem;
  }
 
  .mid_container{
    width: 90%;
  }

  @keyframes next_animation {
    0% {
      display: block !important;
      right: 14px;
      color: #582e9b;
    }
    25% {
      display: block !important;

      right: 12px;
      color: #7244bd;
    }
    50% {
      display: block !important;
      right: 10px;
      color: #8e64d3;
    }
    60% {
      right: 8px;
      color: #8560c0;
    }

    80% {
      right: 4px;
      color: #9778ca;
    }

    100% {
      right: -2px;
      color: #bb95f700;
    }
  }
}
